@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #4a4e69;
    color: white;
    display: flex;
    justify-content: center;
}

.blog-post{
    margin: 2rem;
    padding: 3rem 6rem;
    width: 90%;
    background-color: #121212;
    border-radius: 10px;
}
h1{
    line-height: 3.5rem;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}
.author{
    margin: 1rem 0;
    font-size: 1.2rem;
}
p{
    line-height: 1.7rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
blockquote{
    background-color: #6c757d;
    padding: 0.5rem;
    font-style: italic;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}
.callout{
    margin-top: 1.5rem;
    background-color: #332701;
    padding: 0.5rem;
    color: #ffda6a;
    border-left: 3.5px solid #ffda6a;
}